.image-slider-wrapper {
    display: flex;
    min-height: 100px;
    align-items: center;
}

.arrow {
    cursor: pointer;
    transition: .3s;
}

.arrow:hover {
    opacity: 0.5;
    width: 35px;
    height: 35px;
}

.slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

#product-images {
    max-width: 200px;
    max-height: 120px;
    padding: 10px;
}

#product-images:hover {
    max-width: 210px;
    max-height: 130px;
    border: 3px solid #000;
    transition: .2s;
}