#product-link-by-name{
    color: black;
    text-decoration: none;
}

.product-title {
    color: #0D3868;
    font-size: 18px;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-description {
    color: #3A3F42;
    display: -webkit-box;
    -webkit-line-clamp: 2;  /* Set the desired number of lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-price-container {
    display: flex;
}

.product-price-container #product-original-price {
    padding: 0 0 0 10px;
    text-decoration: line-through;
    color: #9BA1A6;
}

.product-price-container #product-discount-percent {
    font-size: 14px;
    padding: 0 0 0 10px;
    color: #F31260;
}