.rating-review-container {
    display: flex;
}

.ratings {
    color: #ed811d;
    transform: translateY(-3px);
    font-size: 18px;
}

.ratings span {
    margin: 0.12rem;
}

.review-count {
    padding: 0 0 0 10px;
}