.cart-featured-image {
    max-height: 140px;
}

.cart-item-to-product-link {
    text-decoration: none;
}

.cart-item-brand-name {
    font-size: 20px;
    font-weight: 500;
    color: #16181A;
}

.cart-item-product-name {
    font-size: 18px;
    color: #697177;
}

.cart-item-price-container {
    display: flex;
    padding: 5px 0 0 0;
    font-size: 18px;
}

.cart-item-price-container #cart-item-original-price {
    padding: 0 0 0 10px;
    text-decoration: line-through solid 2px;
    color: #697177;
}

.cart-item-price-container #cart-item-discount-percent {
    padding: 0 0 0 10px;
    color: #F31260;
}

.cart-item-quantity {
    display: flex;
    font-size: 18px;
    padding: 8px 0 0 0;
}

.quantity-title {
    padding: 0 25px 0 0;
}

.cart-item-quantity-select {
    width: 70px;
    border: none;
    border-radius: 5px;
}

.cart-item-remove-button {
    padding: 0 0 0 30px;
    transform: translate(0, -2px);
    cursor: pointer;
}