.category-dropdown-level-1 .dropdown-menu{
    margin-bottom: 30px;
}

.category-dropdown-level-1 .category-dropdown-level-2 {
    max-height: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: auto;
    align-items: center;
}

/* Styles for screens up to 575.98 pixels (Large - lg) */
@media (max-width: 1199.98px) {
    .category-dropdown-level-1 .dropdown-menu {
        width: 100%;
    }
}

/* Styles for screens 1200 pixels and above (Extra Large - xl) */
@media (min-width: 1200px) {
    .category-dropdown-level-1 .dropdown-menu {
        width: 600px;
    }
}

.category-dropdown-level-1 .dropdown-header a {
    color: #F31260;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
}

.category-dropdown-level-1 .dropdown-header a:hover {
    font-weight: bold;
}

.category-dropdown-level-1 .dropdown-item {
    font-size: 16px;
}

.category-dropdown-level-1 .dropdown-item:focus,
.category-dropdown-level-1 .dropdown-item:hover {
    background-color: white;
    font-weight: bold;
}

.category-dropdown-level-1 .category-dropdown-level-3 {
    width: max-content;
}

.category-dropdown-level-1 .dropdown-divider {
    width: 25%;
}