.order-payment-failed {
    max-width: 95%;
    height: auto;
}

/* Styles for screens from 992 pixels to 1199.98 pixels (Large - lg) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .order-payment-failed {
        height: 450px;
    }
}

/* Styles for screens 1200 pixels and above (Extra Large - xl) */
@media (min-width: 1200px) {
    .order-payment-failed {
        height: 550px;
    }
}

.order-payment-failed-heading {
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    margin: 100px 0 0 0;
    justify-content: center;
    align-items: center;
}