.collapsible-container {
    display: flex;
    justify-content: space-between;
}

.collapsible-button {
    background: none;
    border: none;
    padding: 0 0 10px 0;
    cursor: pointer;
    font-weight: bold;
}
