.filter-button {
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

.filter-button.apply {
    background-color: #fff;
    color: #0952A5;
    border: 2px solid #0952A5;
}

.filter-button.apply:hover {
    background-color: #0952A5;
    color: #fff;
    transition-duration: 0.5s;
}

.filter-button.clear {
    background-color: #fff;
    color: #F31260;
    border: 2px solid #F31260;
}

.filter-button.clear:hover {
    background-color: #F31260;
    color: #fff;
    transition-duration: 0.5s;
}