.filters-types-container {
    padding: 0 0 0 10px;
    text-align: left;
}

.filter-type {
    display: flex;
}

.filter-item {
    padding-left: 15px;
    text-transform: capitalize;
}

.color-circle {
    height: 15px;
    width: 15px;
    border-radius: 30%;
    display: inline-block;
    transform: translate(8px, 4px);
}

.rupee-icon {
    transform : translateY(-2px);
    height: 14px;
}