asgiref==3.6.0
astroid==2.15.3
coverage==7.2.3
dill==0.3.6
Django==4.2
django-cors-headers==3.14.0
django-filter==23.1
django-js-asset==2.0.0
django-mptt==0.14.0
djangorestframework==3.14.0
djangorestframework-recursive==0.1.2
isort==5.12.0
lazy-object-proxy==1.9.0
Markdown==3.4.3
mccabe==0.7.0
Pillow==9.5.0
platformdirs==3.2.0
psycopg2-binary==2.9.6
pylint==2.17.2
pytz==2023.3
sqlparse==0.4.4
tomlkit==0.11.7
wrapt==1.15.0
